<template>
  <div class="input-number" v-click-outside="closeInput">
    <span v-show="!isOpen" class="input-number__closed" @click="focusInput">
      {{num | convertToCurrency}}
    </span>

    <div class="input-number__opened">
      <input ref="inputNumber"
             v-model="num"
             @keyup="pressedKey"
             @focus="openInput"
             @keydown.tab="pressTab"
             @keydown.38="pressArrowUp"
      />

      <div v-if="isOpen"
              class="btn-controls btn-controls-increment"
              @click="incrementOrDecrement">
        &#9650;
      </div>

      <div v-if="isOpen"
              class="btn-controls btn-controls-decrement"
              @click="incrementOrDecrement(false)">
        &#9660;
      </div>

      <span v-if="isOpen && action" class="control-action" @click="applyMethod(action.method)">
        {{action.title}}
      </span>
    </div>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside';

export default {
  name: 'InputNumber',
  props: {
    number: {
      type: String,
      required: true,
    },
    action: {
      type: Object,
    },
  },
  data() {
    return {
      isOpen: false,
      oldValue: null,
      initInput: false,
    };
  },
  computed: {
    num: {
      get() {
        return this.$store.state[this.number];
      },
      set(v) {
        const num = this.number;
        const data = { v, num };
        this.$store.dispatch('setNewValue', data);
      },
    },
  },
  methods: {
    openInput() {
      this.isOpen = true;
      if (!this.initInput) {
        this.oldValue = +this.num;
        this.$refs.inputNumber.focus();
        this.$refs.inputNumber.select();
        this.initInput = true;
      }
    },
    focusInput() {
      this.$refs.inputNumber.focus();
    },
    closeInput() {
      this.isOpen = false;
      this.initInput = false;
    },
    pressTab(e) {
      if (this.initInput && e.key === 'Tab') {
        this.closeInput();
      }
    },
    pressedKey(e) {
      if (e.key === 'Enter') {
        this.closeInput();
      } else if (e.key === 'Escape') {
        this.num = this.oldValue;
        this.closeInput();
      } else if (e.key === 'ArrowDown') {
        this.incrementOrDecrement(false);
      } else {
        this.num = Number(this.num.toString().replace(/[^0-9+]/g, ''));
      }
    },
    pressArrowUp() {
      this.incrementOrDecrement();
    },
    incrementOrDecrement(direction = true, step = 1) {
      const data = { num: this.number, direction, step };
      this.$store.dispatch('incrementOrDecrement', data);
      this.moveCursorToEnd(this.$refs.inputNumber);
    },
    moveCursorToEnd(element) {
      element.focus();
      element.selectionStart = element.selectionEnd = element.value.length;
    },
    applyMethod(nameMethod) {
      this.$store.dispatch(nameMethod);
      this.closeInput();
    },
  },
  directives: {
    ClickOutside,
  },
};
</script>

<style scoped lang="scss">
.input-number {
  position: relative;
  display: flex;
  width: 120px;
  height: 30px;
  font-size: 16px;

  &:focus {
    outline: none;
  }

  &__closed {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    &::after {
      content: '\2228';
      font-size: 11px;
      margin-left: 5px;
      padding-bottom: 3px;
    }

    &:hover {
      color: #00467f;
      cursor: pointer;
    }
  }

  &__opened {
    text-align: left;

    input {
      position: relative;
      box-sizing: border-box;
      padding: 0 20px 0 5px;
      border: 1px solid #ddd;
      width: 120px;
      height: 26px;
      background-color: #fafafa;
      font-size: 16px;

      &:focus {
        outline:none
      }
    }

    .control-action {
      font-size: 12px;
      color: #65b5f6;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .btn-controls {
    position: absolute;
    right: 4px;
    z-index: 15;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    font-size: 7px;

    &:hover {
      color: #00467f;
      cursor: pointer;
    }

    &-increment {
      top: 4px;
    }

    &-decrement {
      top: 13px;
    }
  }
}
</style>
