<template>
  <div id="app">
    <h1>Три взаимодействующих контролла</h1>

    <div class="control-wrapper">
      <p class="control__header">Контролл 1</p>
      <InputNumber :number="'number1'" :action="{title:'Сумма', method:'sum'}"/>
    </div>

    <div class="control-wrapper">
      <p class="control__header">Контролл 2</p>
      <InputNumber :number="'number2'" :action="{title:'Константа', method:'const'}"/>
    </div>

    <div class="control-wrapper">
      <p class="control__header">Контролл 3</p>
      <InputNumber :number="'number2'"/>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import InputNumber from './components/InputNumber.vue';

export default {
  name: 'app',
  components: {
    InputNumber,
  },
  computed: {
    ...mapGetters(['number1', 'number2']),
  },
};
</script>

<style lang="scss">
#app {
  margin: 0 auto;
  max-width: 600px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1 {
  margin: 30px 0 40px;
  font-size: 24px;
  font-weight: 300;
}

.control-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.control__header {
  margin: 0 40px 0 0;
  color: #a6a5a6;
}
</style>
